.cover-image {
  width: 350px;
  height: 150px;
  background-size: cover;
  background-position: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}